
<header class="navbar-fixed">

    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="http://valtech.fr" class="brand-logo hide-on-med-and-down">
                <i class="valtech-logo--header glyph" data-icon="valtech-logo" aria-hidden="true"></i>
            </a>

            <a class="brand-logo center">
                <%- pageTitle %>
            </a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right">
                <li>
                    <a href="<%- settings.repository %>" title="See on github">
                        <i class="material-icons">visibility</i>
                    </a>
                </li>

                <li>
                    <a href="<%- settings.repository %>zipball/master" title="download">
                        <i class="material-icons">file_download</i>
                    </a>
                </li>

                <li class="hide-on-med-and-down">
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
            </ul>


        </div>
    </nav>

</header>

<ul class="side-nav" id="mobile-demo">

    <li class="logo">

        <i class="valtech-logo--header glyph" data-icon="valtech-logo" aria-hidden="true"></i>

    </li>

    <%
    if (menu){
        for(var i = 0; i < menu.length; i++){
        %>
            <li><a href="<%= menu[i].href %>"><%= menu[i].title %></a></li>
        <%
        }
    }
    %>
</ul>

<ul id="dropdown1" class="dropdown-content">
    <%
    if (menu){
        for(var i = 0; i < menu.length; i++){
        %>
            <li><a href="<%= menu[i].href %>"><%= menu[i].title %></a></li>
        <%
        }
    }
    %>
</ul>