
<header class="navbar-fixed">

    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="http://valtech.fr" class="brand-logo hide-on-med-and-down">
                <i class="valtech-logo--header glyph" data-icon="valtech-logo" aria-hidden="true"></i>
            </a>

            <a class="brand-logo center">
                <%- pageTitle %>
            </a>

            <a href="#" data-activates="global-menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right">
                <li>
                    <a href="<%- settings.repository %>" title="See on github">
                        <i class="material-icons">visibility</i>
                    </a>
                </li>

                <li class="hide-on-med-and-down">
                    <a href="#!" class="dropdown-button" title="download" data-activates="global-menu-download" data-beloworigin="true">
                        <i class="material-icons">file_download</i>
                    </a>
                </li>

                <li class="hide-on-med-and-down">
                    <a class="dropdown-button" href="#!" data-activates="global-menu" data-beloworigin="true">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
            </ul>


        </div>
    </nav>

</header>

<ul class="side-nav" id="global-menu-mobile">

    <li class="logo">

        <i class="valtech-logo--header glyph" data-icon="valtech-logo" aria-hidden="true"></i>

    </li>

    <%
    if (menu){
        for(var i = 0; i < menu.length; i++){
        %>
            <li><a href="<%= menu[i].href %>"><%= menu[i].title %></a></li>
        <%
        }
    }
    %>

    <li><div class="divider"></div></li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Télécharger<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>

                        <li>
                            <a href="<%- settings.repository %>zipball/master">
                                Documentation (master)
                            </a>
                        </li>

                        <%
                        if (downloadMenu){
                            for(var i = 0; i < downloadMenu.length; i++){
                            %>
                                <li><a href="<%= downloadMenu[i].href %>"><%= downloadMenu[i].title %></a></li>
                            <%
                            }
                        }
                        %>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

</ul>

<ul id="global-menu" class="dropdown-menu dropdown-content">
    <%
    if (menu){
        for(var i = 0; i < menu.length; i++){
        %>
            <li><a href="<%= menu[i].href %>"><%= menu[i].title %></a></li>
        <%
        }
    }
    %>
</ul>


<ul id="global-menu-download" class="dropdown-menu dropdown-content">
    <li>
        <a href="<%- settings.repository %>zipball/master">
            Télécharger la documentation (master)
        </a>
    </li>

    <li class="divider"></li>

    <%
        if (downloadMenu){
            for(var i = 0; i < downloadMenu.length; i++){
        %>
            <li><a href="<%= downloadMenu[i].href %>">Télécharger <%= downloadMenu[i].title %></a></li>
        <%
            }
        }
    %>

</ul>